
.main{
    background-color:antiquewhite;
    width: 220px;
    height:350px;
    border-radius: 5px;
}


h1{
    text-align: center;
}

label{
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
input{
    width: 100;
    padding: 8px;

}

button{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}
.ab{
    padding-left: 15px;
}